.h-limit-max-height {
  max-height: 20rem;
  overflow-y: auto;
}
.w-100 {
  width: 100% !important;
}
.hk-big-icon-2 {
  * {
    transform: scale(2);
  }
}
.hk-big-icon-3 {
  * {
    transform: scale(3);
  }
}
.hk-big-icon-4 {
  * {
    transform: scale(4);
  }
}